<ion-view view-title="Contact us">
  <ion-content class="contact_us">
  <form class="reg_form">
    <p>Contact us if you need any help, We will be happy to assist you in any way and help 
    you get started with your mobile app!</p>
      
        <div class="list">
            <label class="item item-input">
                 <input type="text" placeholder="username">
            </label>
            <label class="item item-input">
                 <input type="email" placeholder="e-mail">
            </label>
            <label class="item item-input">
                 <input type="password" placeholder="password">
            </label>
            <label class="item item-input txt_area">
                <textarea placeholder="Message" rows="3"></textarea>
            </label>
            
            <a href="#" class="button button-block main_btn">
            Send
            </a>
      
         </div>   
  </form>
  </ion-content>
</ion-view  >