  <ion-modal-view class="upload_modal">
    <ion-content class="modal_content padding">
        <div class="modal_img">
           <i class="ion-camera camera"></i>
        </div>
        <p class="upload_btn"><i class="ion-upload"></i>Upload files</p>
        <label class="item item-input txt_area">
           <textarea placeholder="Say Something" rows="3"></textarea>
        </label>
        <a ng-click="closeupload_img()"  class="button button-block main_btn save_btn">
         publish
        </a>
        <a ng-click="closeupload_img()" class="button button-block main_btn">
        Cancel
        </a>
      
    </ion-content>
  </ion-modal-view>